/* Trong file CSS của bạn hoặc sử dụng styled-components */

/* Style cho nút thay đổi mật khẩu */
button {
  padding: 2px 20px;
  background-color: #00cc1f;
  color: #000000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 222px;
  height: 47px;
}

button:hover {
  background-color: #0056b3;
}

/* Style cho các input và nhãn */
div {
  margin: 10px 0;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

/* Style cho thông báo thành công hoặc lỗi */
p {
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
  color: #ff0000; /* Màu đỏ cho thông báo lỗi */
}

/* Style cho tiêu đề của trang */
h2 {
  color: #007bff;
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}
