.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  position: sticky;
  top: 0;
  z-index: 999;
}

.header-logo {
  width: 50px;
}

.header-search {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 33.33%;
  max-width: 50.33%;
}

.header-search input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.header-search button {
  color: white;
  border: none;
  border-radius: 5px;
  padding: 6px 0px;
  cursor: pointer;
  width: 33.33%;
  max-width: 10.33%;
  height: 44px;
}

.buttonSearch:hover {
  background-color: #008000;
}

.buttonSearch:not(:hover) {
  background-color: #00b000;
}

.header-categories {
  margin-right: 10px;
}

.header-options {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 30px;
}

.header-categories a,
.header-options a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  padding: 5px 10px;
}

.header-categories a:hover,
.header-options a:hover {
  text-decoration: none;
  color: #63c1f4;
}

.header-options img {
  margin-left: 30px;
  border-radius: 50%;
  border: 1px solid #ccc;
  width: 40px;
}

.header .user-menu {
  display: flex;
  flex-direction: column;
  width: 180px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50px;
}

.header .user-menu a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  padding: 5px 10px;
  border-bottom: 1px solid #ccc;
}

.header .user-menu a:hover {
  text-decoration: none;
  color: #63c1f4;
}

.header .user-menu a:first-child {
  border-radius: 5px 5px 0 0;
}

.header .user-menu a:last-child {
  border-radius: 0 0 5px 5px;
}
