.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  position: sticky;
  top: 0;
  z-index: 999;
  border: auto 0;
  padding: 0 100px;
}

.header-logo {
  width: 50px;
}

.header-options {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 30px;
}

.header-options a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  padding: 5px 10px;
}

.header-options a:hover {
  text-decoration: none;
  color: #63c1f4;
}

.header-options img {
  margin-left: 30px;
  border-radius: 50%;
  border: 1px solid #ccc;
  width: 40px;
}

.header .user-menu {
  display: flex;
  flex-direction: column;
  width: 180px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50px;
}

.header .user-menu a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  padding: 5px 10px;
  border-bottom: 1px solid #ccc;
}

.header .user-menu a:hover {
  text-decoration: none;
  color: #63c1f4;
}

.header .user-menu a:first-child {
  border-radius: 5px 5px 0 0;
}

.header .user-menu a:last-child {
  border-radius: 0 0 5px 5px;
}
