/* LoginSignup.css */

.container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.underline {
  width: 50px;
  height: 2px;
  background-color: #007bff;
  margin: 0 auto;
}

.inputs {
  margin-bottom: 20px;
}

.input {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

input[type='text'],
input[type='email'],
input[type='password'] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.forgot-password {
  text-align: center;
  margin-top: 10px;
}

.submit-container {
  display: flex;
  justify-content: space-between;
}

.submit {
  width: 48%;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.submit:hover {
  background-color: #0056b3;
}

.gray {
  background-color: #ccc;
  cursor: not-allowed;
}
/* EmailVerification.css */
